/* 
 * Custom styles for Public Style.
 *
 * For additional information on potential customization options,
 * read the developers' documentation:
 *
 * @package yourpropfirm
 */

/* Add your custom CSS here */
.yourpropfirm_mt_version_field_wrapper{
	margin-left: 3px;
}
.ypf_mt_version_radio_option {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    align-items: center;
}

/* Styling each field group */
.ypf_mt_version_radio_option .field-group {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

/* Image styling with a consistent size */
.ypf_mt_version_radio_option .field-group img {
    margin-right: 10px;
    max-height: 40px;
}

/* Label and text alignment */
.ypf_mt_version_radio_option .field-group label {
    display: flex;
    align-items: center;
    margin: 0;
}

.ypf_mt_version_radio_option .field-group span{
	display: none;
}
